<?php

$vendor_dir = __DIR__.'/../../src/vendor';
require_once $vendor_dir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'                        => $vendor_dir.'/symfony/src',
    'Doctrine\\Common\\DataFixtures' => __DIR__.'/vendor/doctrine-data-fixtures/lib',
    'Doctrine\\Common'               => __DIR__.'/vendor/doctrine-common/lib',
    'Doctrine\\DBAL'                 => __DIR__.'/vendor/doctrine-dbal/lib',
    'Doctrine'                       => $vendor_dir.'/doctrine/lib',
    'Zend'                           => __DIR__.'/vendor/zend/library',
    'Sonata\\Tests'                  => __DIR__.'/tests',
    'Sonata'                         => __DIR__.'/src',
));

$loader->register();
