<?php

$vendor_dir = __DIR__.'/../../vendor';
require_once $vendor_dir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'                        => $vendor_dir.'/symfony/src',
    'Doctrine\\Common\\DataFixtures' => $vendor_dir.'/doctrine-data-fixtures/lib',
    'Doctrine\\Common'               => $vendor_dir.'/doctrine-common/lib',
    'Doctrine\\DBAL'                 => $vendor_dir.'/doctrine-dbal/lib',
    'Doctrine'                       => $vendor_dir.'/doctrine/lib',
    'Zend'                           => $vendor_dir.'/zend/library',
    'Sonata\\Tests'                  => __DIR__.'/tests',
    'Sonata'                         => __DIR__.'/src',
    'Application'                    => $vendor_dir.'/../app',
));

$loader->register();
