{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{% trans 'title_payment_step_basket' from 'BasketBundle' %}</h1>

<form action="{{ url('sonata_basket_payment') }}" method="POST" >
    {{ form_hidden(form) }}

    <div>
        <h2>{% trans 'title_delivery_addresses' from 'BasketBundle' %}</h2>
        {{ form_errors(form.paymentAddress) }}
        {{ form_field(form.paymentAddress, {}, {}, 'SonataBasketBundle:Basket:render_payment_address.twig.html') }}
    </div>

    <div>
        <h2>{% trans 'title_delivery_methods' from 'BasketBundle' %}</h2>

        {% if paymentMethods|length == 0 %}
            <p>{% trans 'message_no_delivery_methods_available' from 'BasketBundle' %}</p>
        {% else %}
            {{ form_errors(form.paymentMethod) }}
            {{ form_field(form.paymentMethod, {}, {}, 'SonataBasketBundle:Basket:render_payment_address.twig.html') }}
        {% endif %}
    </div>

    <input type="submit" value="{% trans 'btn_update_payment_step' from 'SonataBasketBundle' %}" />

</form>