{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{% trans 'title_category_list' from 'CategoryBundle' %}</h1>

<ul>
    {% for category in pager.getResults %}
        <li><a href="{% url 'sonata_category_view' with ['category_id': category.id, 'slug': category.slug] %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>