{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{{ category.name }}</h1>

<div>
    {{ category.description }}
<div>


{% render "ProductBundle:Category:listSubCategories" with ['category_id': category.id] %}

{% render "ProductBundle:Category:listProducts" with ['category_id': category.id] %}

