{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<tr>
    {% if fieldGroup.hasErrors %} {# global error the product is not active anymore #}
        <td colspan="4">{% block product_error %}{% trans 'message_product_not_available' from 'ProductBundle' %}{% endblock %}</td>
    {% else %}
        <td>{% block product_description %}{% endblock %}</td>
        <td>{% block product_unit_price %}{% endblock %}</td>
        <td>{% block product_quantity %}{% endblock %}</td>
        <td>{% block product_total %}{% endblock %}</td>
    {% endif %}
    <td>{% block product_delete %}{% endblock %}</td>
</tr>