<h1>Terms and conditions</h1>
<p>This page should contain your "terms and conditions" policy. Feel free to override it. This file can be found in <code>SonataPaymentBundle:Payment:terms.html.twig</code>.</p>
