<form name="search" method="get" class="pull-right col-sm-4" action="{% if settings.route is defined %}{{ url(settings.route) }}{% endif %}">
    <div class="input-group">
        <input class="form-control" type="text" name="q" placeholder="Enter your search..." />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
        </span>
    </div>
</form>