{% extends sonata_block.templates.block_base %}

{% block block %}
    <div>
        <i class="icon-shopping-cart"></i>
        <a href="{{ path('sonata_basket_index') }}">
            {{ 'sonata.basket.title_basket'|trans({}, 'SonataBasketBundle') }} ({{ sonata_basket.basket.countBasketElements }})
        </a>
    </div>
{% endblock %}
