{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataSeoBundle:Block:breadcrumb.html.twig' %}

{% block breadcrumb %}
{% spaceless %}

    <li><a href="{{ path('sonata_catalog_index') }}">{% trans from 'SonataProductBundle' %}catalog_root_title{% endtrans %}</a></li>

    {% if categories %}
        {% for category in categories %}
            <li>
                <a href="{{ url('sonata_catalog_category', {'category_id': category.id, 'category_slug': category.slug}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    {% endif %}

    {% if product %}
        <li>{{ product.name }}</li>
    {% endif %}

{% endspaceless %}
{% endblock %}



