{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="row">

    <div class="col-sm-3">

        {% block product_category %}
            {{ sonata_block_render({'type': 'sonata.product.block.categories_menu'}, {'current_uri': app.request.requestUri}) }}
        {% endblock %}

        {% block product_filter %}{% endblock %}

    </div>

    <div class="col-sm-9">

        {% sonata_template_box 'This is the catalog template. Feel free to override it.' %}

        {% if pager.count == 0 %}

            {% block no_products %}
                <div class="no-products-available">
                    {% trans from 'SonataProductBundle' %}no_products_available{% endtrans %}
                </div>
            {% endblock %}

        {% else %}

            <div class="row sonata-product-navigation-bar clearfix">
                <div class="col-sm-9">
                    <h4>
                        {% if category %}
                            {{ category.name }}
                        {% else %}
                            {% trans from 'SonataProductBundle' %}catalog_root_title{% endtrans %}
                        {% endif %}
                    </h4>
                </div>
                <div class="col-sm-3">
                    {% include 'SonataProductBundle:Catalog:_pager.html.twig' %}
                </div>
            </div>

            {% block products %}{% endblock %}

            <div class="row sonata-product-navigation-bar clearfix">
                <div class="col-sm-3 col-sm-offset-9">
                    {% include 'SonataProductBundle:Catalog:_pager.html.twig' %}
                </div>
            </div>

        {% endif %}

    </div>

</div>
