<ul class="breadcrumb">
    <li><a href="{{ path('sonata_catalog_index') }}"><i class="glyphicon glyphicon-home"></i></a><span class="divider">&raquo;</span></li>
    {% for category in categories %}
        <li>
            {% if category.id != selectedCategoryId %}
                <a href="{{ url('sonata_catalog_index', {'category_id': category.id, 'category_slug': category.slug}) }}">
            {% endif %}

            {{ category.name }}

            {% if category.id != selectedCategoryId %}
                </a>
                <span class="divider">&raquo;</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
