{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h2>{% trans from 'CategoryBundle' %}title_sub_categories{% endtrans %}</h2>

{% if pager.count == 0 %}
    {% trans from 'CategoryBundle' %}no_sub_categories_available{% endtrans %}
{% else %}
    <ul>
        {% for category in pager.getResults %}
            <li><a href="{{ url('sonata_category_view', {'categoryId': category.id, 'slug': category.slug}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
