{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if pager.count != 0 or not category.hasChildren %}
    <h2>{% trans from 'SonataProductBundle' %}title_list_products{% endtrans %}</h2>
{% endif %}

{% sonata_template_box 'This is the category products list template. Feel free to override it.' %}

{% if pager.count == 0 %}
    {% if not category.hasChildren %}
        {% trans from 'SonataProductBundle' %}no_products_available{% endtrans %}
    {% endif %}
{% else %}
    <ul>
        {% for product in pager.getResults if product.isMaster %}
            {% if not provider.hasVariations(product) or provider.hasVariations(product) and provider.hasEnabledVariations(product) %}
                <li><a href="{{ url('sonata_product_view', {'productId': product.id, 'slug': product.slug}) }}">{{ product.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}