{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h2>{% trans from 'SonataProductBundle' %}title_sub_categories{% endtrans %}</h2>

{% sonata_template_box 'This is the category subcategories template. Feel free to override it.' %}

{% if pager.count == 0 %}
    {% trans from 'SonataProductBundle' %}no_sub_categories_available{% endtrans %}
{% else %}
    <ul>
        {% for category in pager.getResults %}
            {% if category.getEnabled %}
                <li><a href="{{ url('sonata_category_view', {'categoryId': category.id, 'slug': category.slug}) }}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
