{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h2>{% trans from 'CategoryBundle' %}title_list_products{% endtrans %}</h2>

{% if pager.count == 0 %}
    {% trans from 'CategoryBundle' %}no_products_available{% endtrans %}
{% else %}
    <ul>
        {% for product in pager.getResults %}
            <li><a href="{{ url('sonata_product_view', {'productId': product.id, 'slug': product.slug}) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
